name: .NET

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write  # Needed for GitHub Releases

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Install Velopack CLI
        run: dotnet tool install -g vpk

      - name: Publish
        run: dotnet publish YoutubeDownloader.Wpf/YoutubeDownloader.Wpf.csproj -c Release -r win-x64 -o publish /p:DebugType=None /p:DebugSymbols=false

      - name: Decode Certificate
        shell: powershell
        run: |
          $cert = "${{ secrets.CODE_SIGNING_CERT }}"
          $bytes = [System.Convert]::FromBase64String($cert)
          [System.IO.File]::WriteAllBytes("cert.pfx", $bytes)

      - name: Velopack Pack
        shell: pwsh
        run: |
          # Strip the 'v' prefix from the tag
          $version = "${{ github.ref_name }}".TrimStart('v')
          
          vpk pack -u YoutubeDownloader -v $version -p publish -e YoutubeDownloader.Wpf.exe --packTitle "Youtube Downloader" --signParams "/fd SHA256 /f cert.pfx /p ${{secrets.CERT_PASSWORD}}"

      - name: Velopack Upload & GitHub Release
        run: |
          vpk upload github --repoUrl ${{ github.server_url }}/${{ github.repository }} --publish --token ${{ secrets.GITHUB_TOKEN }} --tag ${{ github.ref_name }}
