name: .NET

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write  # Needed for GitHub Releases
    outputs:
      artifact-path: YoutubeDownloader-${{github.ref_name}}.zip  # Pass ZIP path to next job

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Install Velopack CLI
        run: dotnet tool install -g vpk

      - name: Install Workloads
        run: dotnet workload restore

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish
        run: dotnet publish YoutubeDownloader.Wpf --no-restore -c Release -r win-x64 -o publish /p:DebugType=None /p:DebugSymbols=false

      - name: Decode Certificate
        shell: powershell
        run: |
          $cert = "${{ secrets.CODE_SIGNING_CERT }}"
          $bytes = [System.Convert]::FromBase64String($cert)
          [System.IO.File]::WriteAllBytes("cert.pfx", $bytes)

      - name: Sign Executable
        run: |
          $signtool = "C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool\signtool.exe"
          & $signtool sign /fd SHA256 /f "cert.pfx" /p ${{secrets.CERT_PASSWORD}} "publish\YoutubeDownloader.Wpf.exe"


      - name: Create ZIP Archive with 7-Zip
        run: |
          Set-Location -Path publish
          & "C:\Program Files\7-Zip\7z.exe" a -tzip -mx9 ..\YoutubeDownloader-${{github.ref_name}}.zip *

      - name: Velopack Pack
        run: |
          vpk pack -u YoutubeDownloader -v ${{ github.ref_name }} -p publish -e YoutubeDownloader.Wpf.exe --packTitle "Youtube Downloader"
          
      - name: Velopack Upload & GitHub Release
        run: |
          vpk upload github --repoUrl ${{ github.server_url }}/${{ github.repository }} --publish --token ${{ secrets.GITHUB_TOKEN }} --tag ${{ github.ref_name }} --extraItem "YoutubeDownloader-${{github.ref_name}}.zip"
