name: Tests

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

jobs:
  test:
    runs-on: windows-latest  # Change to windows-latest if needed
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x  # Update if using a different .NET version

      - name: Install Workloads
        run: dotnet workload restore
        
      - name: Restore Dependencies
        run: dotnet restore

      - name: Run Tests
        run: dotnet test --no-restore --configuration Release
